flows.json
[{"id":"c34d7c95.530eb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"39629e43.8d72c2","type":"mqtt-broker","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c92e5e54.f7f49","type":"ui_tab","name":"Parking Management","icon":"dashboard","disabled":false,"hidden":false},{"id":"8344dc5d.40e44","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b417df8b.d651a","type":"ui_group","name":"Parking Management","tab":"c92e5e54.f7f49","order":1,"disp":true,"width":"6","collapse":false},{"id":"26e2d03c.88fcc","type":"mqtt in","z":"c34d7c95.530eb","name":"","topic":"#","qos":"2","datatype":"json","broker":"39629e43.8d72c2","nl":false,"rap":true,"rh":0,"x":70,"y":220,"wires":[["6eedc1c.e6cca4","bef11b59.65bb78"]]},{"id":"6eedc1c.e6cca4","type":"function","z":"c34d7c95.530eb","name":"Lugar: Ocupação e ID","func":"msg.ocupado = msg.payload.uplink_message.decoded_payload.ocupado;\nmsg.lugarid = msg.payload.uplink_message.decoded_payload.lugarID;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":160,"wires":[["c80799b9.721778","ec488f5.5a4e27"]]},{"id":"9aacb8d1.43ed98","type":"ui_chart","z":"c34d7c95.530eb","name":"","group":"b417df8b.d651a","order":0,"width":0,"height":0,"label":"Ocupação","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":360,"wires":[[]]},{"id":"c80799b9.721778","type":"function","z":"c34d7c95.530eb","name":"Contagem de Lugares Ocupados","func":"\nvar count = flow.get(\"count\")||0;\nvar ids = flow.get(\"ids\")||[];\nvar ocupados = flow.get(\"ocupados\")||[];\n\nvar id_existe = false;\nvar i;\nfor (i = 0; i < ids.length; i++) {\n    \n  if(msg.lugarid == ids[i]){\n      id_existe = true;\n  }\n \n}\n\nmsg.existe = id_existe;\n\nif(!id_existe){\n    \n    ids.push(msg.lugarid);\n    ocupados.push(msg.ocupado);\n    \n    if(msg.ocupado == 1){\n        count += 1;\n    }\n    else if(msg.ocupado == 0 && count > 0){\n        count -=1;\n    }\n    \n}\n\nelse{\n    \n    for (i = 0; i < ids.length; i++) {\n        if(msg.lugarid == ids[i]){\n            msg.ocupados = ocupados[i];\n            \n            if(msg.ocupado == 1 && ocupados[i] == 0){\n                ocupados[i] = 1;\n                count += 1;\n            }\n            else if(msg.ocupado == 0 && ocupados[i] == 1 && count > 0){\n                ocupados[i] = 0;\n                count -=1;\n             }\n            \n        }\n        \n    }\n    \n}\n\nflow.set(\"ocupados\", ocupados);\nflow.set(\"ids\",ids);\nflow.set(\"count\", count);\nmsg.payload = count;\nmsg.topic = \"Lugares Ocupados\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":160,"wires":[["b7ccd54f.397808","9aacb8d1.43ed98","8c77aef6.214a1","a85d4c0f.22bea","9f31cac9.737368","d2f34a37.068a68"]]},{"id":"f3b68048.a8de9","type":"function","z":"c34d7c95.530eb","name":"Lugares Vazios","func":"var a = flow.get(\"count\")||0;\nmsg.payload = msg.payload.uplink_message.decoded_payload.totalLugares;\nmsg.topic = \"Lugares Vazios\"\nmsg.payload = msg.payload - a;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":360,"wires":[["9aacb8d1.43ed98"]]},{"id":"b7ccd54f.397808","type":"debug","z":"c34d7c95.530eb","name":"contagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":120,"wires":[]},{"id":"bef11b59.65bb78","type":"delay","z":"c34d7c95.530eb","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":360,"wires":[["f3b68048.a8de9"]]},{"id":"5f68b864.f705a8","type":"inject","z":"c34d7c95.530eb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":180,"y":80,"wires":[["77acb7e4.5f5118"]]},{"id":"77acb7e4.5f5118","type":"function","z":"c34d7c95.530eb","name":"Reset Variaveis","func":"flow.set(\"count\",0);\nflow.set(\"ids\",[]);\nflow.set(\"ocupados\",[]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":80,"wires":[[]]},{"id":"a104edaa.7b0d2","type":"function","z":"c34d7c95.530eb","name":"Ver Ids dos Lugares de Estacionamento","func":"msg.payload = flow.get(\"ids\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":500,"wires":[["e5a3473d.7e9428"]]},{"id":"e5a3473d.7e9428","type":"debug","z":"c34d7c95.530eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":500,"wires":[]},{"id":"dbdcd9c2.7d0bc8","type":"inject","z":"c34d7c95.530eb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":500,"wires":[["a104edaa.7b0d2"]]},{"id":"8c77aef6.214a1","type":"debug","z":"c34d7c95.530eb","name":"Id Existe","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"existe","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":160,"wires":[]},{"id":"a85d4c0f.22bea","type":"debug","z":"c34d7c95.530eb","name":"Estado do Lugar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"ocupados","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":220,"wires":[]},{"id":"9f31cac9.737368","type":"debug","z":"c34d7c95.530eb","name":"Alteração de Estado do Lugar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"ocupado","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":260,"wires":[]},{"id":"d2f34a37.068a68","type":"debug","z":"c34d7c95.530eb","name":"Id de Lugar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"lugarid","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":80,"wires":[]},{"id":"ec488f5.5a4e27","type":"ui_chart","z":"c34d7c95.530eb","name":"","group":"b417df8b.d651a","order":0,"width":0,"height":0,"label":"Lugares Disponiveis","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":520,"y":280,"wires":[[]]}]